@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.header {
  background-color: rgb(11, 20, 39);
  padding-bottom: 34px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.header .container img.second1:nth-of-type(1) {
  position: absolute;
  top: 140px;
  right: -225px;
}
.header .container img.second2:nth-of-type(2) {
  position: absolute;
  top: 160px;
  right: -30px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.logo img {
  width: 236px;
  height: 114px;
}

.headerContactsMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 684px;
}

.headerContacts {
  display: flex;
  justify-content: space-between;
}

.headerContacts1 {
  display: flex;
}
.headerContacts1 div {
  display: flex;
}
.headerContacts1 div img {
  width: 32px;
  height: 32px;
}
.headerContacts1 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 8px;
}
.headerContacts1 div img:not(:first-of-type) {
  margin-left: 12px;
}

.headerContacts2 img:not(:last-of-type) {
  margin-right: 20px;
}

/* Скрываем чекбокс */
#toggle {
  display: none;
}

ul.headerMenu {
  margin-top: 24px;
  display: flex;
  list-style-type: none;
}
ul.headerMenu li {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  position: relative;
  cursor: pointer;
}
ul.headerMenu > li:not(:first-of-type) {
  border-left: solid 3px rgb(231, 116, 46);
  padding-left: 10px;
}
ul.headerMenu li:hover {
  color: rgb(231, 116, 46);
}
ul.headerMenu li:hover ul.headerMenuLevel2 {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 1;
}
ul.headerMenu li:not(:last-of-type) {
  padding-right: 10px;
}

.headerMenuLevel2 {
  width: 274px;
  display: none;
}
.headerMenuLevel2 > li {
  background-color: rgba(11, 20, 39, 0.8);
  border-bottom: solid 1px rgb(231, 116, 46);
  cursor: pointer;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.headerMenuLevel2 > li:hover {
  color: rgb(231, 116, 46);
}
.headerMenuLevel2 > li:first-of-type {
  border-top: solid 1px rgb(231, 116, 46);
}

@media all and (max-width: 420px) {
  .header {
    padding-bottom: 124px;
  }
  .header .container {
    width: 358px;
  }
  .header .container > img {
    display: none;
  }
  .header .container .headerTop {
    margin-top: 26px;
    flex-direction: column;
    position: relative;
  }
  .header .container .headerTop .headerContactsMenu {
    /* Стили для картинки */
    /* Меняем картинку при активном чекбоксе */
    /* Скрываем выпадающий список по умолчанию */
    /* Показываем выпадающий список при активном чекбоксе */
  }
  .header .container .headerTop .headerContactsMenu .headerContacts {
    flex-direction: column;
    position: relative;
  }
  .header .container .headerTop .headerContactsMenu .headerContacts .headerContacts1 {
    flex-direction: column;
  }
  .header .container .headerTop .headerContactsMenu .headerContacts .headerContacts1 div {
    display: flex;
    justify-content: flex-start;
  }
  .header .container .headerTop .headerContactsMenu .headerContacts .headerContacts2 {
    position: absolute;
    top: 105px;
    right: 48%;
  }
  .header .container .headerTop .headerContactsMenu .label-img {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0%;
    width: 36px;
    height: 32px;
    background-image: url(../img/open.png);
    background-size: cover;
  }
  .header .container .headerTop .headerContactsMenu #toggle:checked + .label-img {
    background-image: url(../img/close.png);
  }
  .header .container .headerTop .headerContactsMenu ul.headerMenu {
    display: none;
    position: relative;
    top: 70px;
    width: 358px;
  }
  .header .container .headerTop .headerContactsMenu ul.headerMenu > li {
    height: 55px;
    border-left: none;
    padding-left: 0px;
    border-top: solid 1px rgb(231, 116, 46);
    align-items: center;
    display: flex;
  }
  .header .container .headerTop .headerContactsMenu ul.headerMenu li.liServise:hover:after {
    content: url(../img/close3.png);
    width: 16px;
    height: 23px;
    margin-left: 10px;
  }
  .header .container .headerTop .headerContactsMenu ul.headerMenu li:hover ul.headerMenuLevel2 {
    display: block;
  }
  .header .container .headerTop .headerContactsMenu ul.headerMenu li:last-of-type {
    border-bottom: solid 1px rgb(231, 116, 46);
  }
  .header .container .headerTop .headerContactsMenu #toggle:checked ~ .headerMenu {
    display: block;
  }
  .header .container .headerTop .headerContactsMenu .headerMenuLevel2 {
    width: 288px;
    margin-left: 75px;
    margin-top: -15px;
    border-left: solid 1px rgb(231, 116, 46);
    border-right: solid 1px rgb(231, 116, 46);
  }
  .header .container .headerTop .headerContactsMenu .headerMenuLevel2 li {
    background-color: rgb(11, 20, 39);
    height: 55px;
    text-transform: none;
    padding-left: 10px;
  }
  .header .container .logo {
    position: absolute;
    top: 70px;
  }
  .header .container .logo img {
    width: 144px;
    height: 69px;
  }
}
.notFound .container div {
  background-image: url(../img/notFound.gif);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFound .container div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
  padding-top: 673px;
}
.notFound .container div h2 {
  display: none;
}
.notFound .container div h3 {
  display: none;
}
.notFound .container div button {
  margin-top: 24px;
  width: 321px;
  height: 65px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 44px;
}

@media all and (max-width: 420px) {
  .notFound .container {
    width: 358px;
  }
  .notFound .container div {
    background-image: url(../img/notFoundMobil.gif);
    background-size: contain;
  }
  .notFound .container div p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(11, 20, 39);
    padding-top: 0px;
  }
  .notFound .container div h2 {
    display: none;
  }
  .notFound .container div h3 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: rgb(231, 116, 46);
    padding-top: 389px;
  }
}
.footer {
  background-color: rgb(11, 20, 39);
  padding-top: 31px;
  padding-bottom: 27px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .container div {
  display: flex;
  justify-content: space-between;
}
.footer .container div .footerLogo {
  display: flex;
  flex-direction: column;
  width: 252px;
}
.footer .container div .footerLogo img {
  width: 236px;
  height: 114px;
}
.footer .container div .footerLogo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-top: 24px;
}
.footer .container div .footerLogo p:first-of-type {
  font-weight: bold;
  margin-top: 60px;
}
.footer .container div .footerMenu {
  display: flex;
  justify-content: space-between;
  width: 416px;
}
.footer .container div .footerMenu ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  list-style-type: none;
}
.footer .container div .footerMenu ul:first-of-type {
  text-transform: uppercase;
}
.footer .container div .footerMenu li:not(:first-of-type) {
  margin-top: 16px;
}
.footer .container div .footerContacts {
  display: flex;
  flex-direction: column;
  width: 277px;
  justify-content: flex-start;
}
.footer .container div .footerContacts div {
  display: flex;
  justify-content: start;
}
.footer .container div .footerContacts p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 8px;
}
.footer .container div .footerContacts div:nth-of-type(2) {
  margin-top: 4px;
}
.footer .container div .footerContacts div:nth-of-type(3) {
  margin-top: 24px;
}
.footer .container div .footerContacts div:nth-of-type(3) img {
  width: 20px;
  height: 20px;
}
.footer .container div .footerContacts div:nth-of-type(3) p {
  font-size: 16px;
}
.footer .container div .footerContacts div:nth-of-type(4),
.footer .container div .footerContacts div:nth-of-type(5) {
  margin-top: 8px;
}
.footer .container div .footerContacts div:nth-of-type(4) img,
.footer .container div .footerContacts div:nth-of-type(5) img {
  width: 20px;
  height: 20px;
}
.footer .container div .footerContacts div:nth-of-type(4) p,
.footer .container div .footerContacts div:nth-of-type(5) p {
  font-size: 16px;
}
.footer .container div .footerContacts div:nth-of-type(6) {
  display: flex;
  margin-top: 36px;
}
.footer .container div .footerContacts div:nth-of-type(6) img {
  width: 32px;
  height: 32px;
}
.footer .container div .footerContacts div:nth-of-type(6) img:not(:first-of-type) {
  margin-left: 20px;
}
.footer .container .footerVerticalLine {
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
  margin-top: 43px;
}
.footer .container .footerBottom {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.footer .container .footerBottom p span {
  color: rgb(231, 116, 46);
}
.footer .container .footerBottom ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.footer .container .footerBottom ul li:not(:first-of-type) {
  border-left: solid 3px rgb(231, 116, 46);
  margin-left: 16px;
  padding-left: 16px;
}
.footer .container .footerVerticalLine1,
.footer .container .footerVerticalLine2 {
  display: none;
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
}

@media all and (max-width: 420px) {
  .footer .container {
    width: 358px;
  }
  .footer .container div {
    flex-direction: column;
  }
  .footer .container div .footerVerticalLine1 {
    display: block;
    order: 2;
  }
  .footer .container div .footerVerticalLine2 {
    display: block;
    order: 4;
  }
  .footer .container div .footerLogo {
    position: relative;
    order: 5;
    width: 100%;
  }
  .footer .container div .footerLogo img {
    position: absolute;
    width: 144px;
    height: 69px;
    top: -590px;
  }
  .footer .container div .footerMenu {
    order: 3;
    width: 100%;
    margin-top: 24px;
    flex-direction: row;
    padding-bottom: 24px;
  }
  .footer .container div .footerContacts {
    order: 1;
    position: relative;
    margin-top: 90px;
    padding-bottom: 24px;
  }
  .footer .container div .footerContacts img[src^="img/Top"] {
    width: 32px;
    height: 32px;
  }
  .footer .container div .footerContacts div {
    display: flex;
    flex-direction: row;
  }
  .footer .container div .footerContacts div:nth-of-type(6) {
    position: absolute;
    left: 200px;
    margin-top: 0px;
    top: -70px;
  }
  .footer .container .footerBottom {
    position: relative;
  }
  .footer .container .footerBottom p {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .footer .container .footerBottom ul {
    flex-direction: column;
  }
  .footer .container .footerBottom ul li:not(:first-of-type) {
    border-left: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 8px;
  }
}
.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: rgb(11, 20, 39);
  text-transform: uppercase;
}
.contacts .container > div:nth-of-type(1) {
  width: 287px;
  height: 3px;
  background-color: rgb(231, 116, 46);
  margin-top: 14px;
}
.contacts .container > img {
  margin-top: 40px;
}
.contacts .container > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 60px;
}
.contacts .container > div:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  width: 528px;
}
.contacts .container > div:nth-of-type(2) > div > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contacts .container > div:nth-of-type(2) > div > div img {
  width: 32px;
  height: 32px;
}
.contacts .container > div:nth-of-type(2) > div > div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
}
.contacts .container > div:nth-of-type(2) > div > div:not(:first-of-type) {
  margin-top: 28px;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) {
  width: 528px;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(2) {
  font-weight: 500;
  font-size: 29px;
  color: rgb(231, 116, 46);
  margin-top: 24px;
  text-transform: uppercase;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
  margin-top: 16px;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form div {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form div .agree {
  width: 26px;
  height: 26px;
  margin-top: 0px;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form div p {
  margin-left: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(11, 20, 39);
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form div p span {
  font-weight: bold;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form input,
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form textarea {
  margin-top: 12px;
  width: 528px;
  height: 48px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(180, 180, 180);
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form textarea {
  padding-top: 10px;
  height: 204px;
}
.contacts .container > div:nth-of-type(2) > div:nth-of-type(2) form button {
  align-self: center;
  margin-top: 44px;
  width: 321px;
  height: 65px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */