.footer {
  background-color: rgb(11, 20, 39);
  padding-top: 31px;
  padding-bottom: 27px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .container div {
  display: flex;
  justify-content: space-between;
}
.footer .container div .footerLogo {
  display: flex;
  flex-direction: column;
  width: 252px;
}
.footer .container div .footerLogo img {
  width: 236px;
  height: 114px;
}
.footer .container div .footerLogo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-top: 24px;
}
.footer .container div .footerLogo p:first-of-type {
  font-weight: bold;
  margin-top: 60px;
}
.footer .container div .footerMenu {
  display: flex;
  justify-content: space-between;
  width: 416px;
}
.footer .container div .footerMenu ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  list-style-type: none;
}
.footer .container div .footerMenu ul:first-of-type {
  text-transform: uppercase;
}
.footer .container div .footerMenu li:not(:first-of-type) {
  margin-top: 16px;
}
.footer .container div .footerContacts {
  display: flex;
  flex-direction: column;
  width: 277px;
  justify-content: flex-start;
}
.footer .container div .footerContacts div {
  display: flex;
  justify-content: start;
}
.footer .container div .footerContacts p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 8px;
}
.footer .container div .footerContacts div:nth-of-type(2) {
  margin-top: 4px;
}
.footer .container div .footerContacts div:nth-of-type(3) {
  margin-top: 24px;
}
.footer .container div .footerContacts div:nth-of-type(3) img {
  width: 20px;
  height: 20px;
}
.footer .container div .footerContacts div:nth-of-type(3) p {
  font-size: 16px;
}
.footer .container div .footerContacts div:nth-of-type(4),
.footer .container div .footerContacts div:nth-of-type(5) {
  margin-top: 8px;
}
.footer .container div .footerContacts div:nth-of-type(4) img,
.footer .container div .footerContacts div:nth-of-type(5) img {
  width: 20px;
  height: 20px;
}
.footer .container div .footerContacts div:nth-of-type(4) p,
.footer .container div .footerContacts div:nth-of-type(5) p {
  font-size: 16px;
}
.footer .container div .footerContacts div:nth-of-type(6) {
  display: flex;
  margin-top: 36px;
}
.footer .container div .footerContacts div:nth-of-type(6) img {
  width: 32px;
  height: 32px;
}
.footer .container div .footerContacts div:nth-of-type(6) img:not(:first-of-type) {
  margin-left: 20px;
}
.footer .container .footerVerticalLine {
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
  margin-top: 43px;
}
.footer .container .footerBottom {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.footer .container .footerBottom p span {
  color: rgb(231, 116, 46);
}
.footer .container .footerBottom ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.footer .container .footerBottom ul li:not(:first-of-type) {
  border-left: solid 3px rgb(231, 116, 46);
  margin-left: 16px;
  padding-left: 16px;
}
.footer .container .footerVerticalLine1,
.footer .container .footerVerticalLine2 {
  display: none;
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
}

@media all and (max-width: 420px) {
  .footer .container {
    width: 358px;
  }
  .footer .container div {
    flex-direction: column;
  }
  .footer .container div .footerVerticalLine1 {
    display: block;
    order: 2;
  }
  .footer .container div .footerVerticalLine2 {
    display: block;
    order: 4;
  }
  .footer .container div .footerLogo {
    position: relative;
    order: 5;
    width: 100%;
  }
  .footer .container div .footerLogo img {
    position: absolute;
    width: 144px;
    height: 69px;
    top: -590px;
  }
  .footer .container div .footerMenu {
    order: 3;
    width: 100%;
    margin-top: 24px;
    flex-direction: row;
    padding-bottom: 24px;
  }
  .footer .container div .footerContacts {
    order: 1;
    position: relative;
    margin-top: 90px;
    padding-bottom: 24px;
  }
  .footer .container div .footerContacts img[src^="img/Top"] {
    width: 32px;
    height: 32px;
  }
  .footer .container div .footerContacts div {
    display: flex;
    flex-direction: row;
  }
  .footer .container div .footerContacts div:nth-of-type(6) {
    position: absolute;
    left: 200px;
    margin-top: 0px;
    top: -70px;
  }
  .footer .container .footerBottom {
    position: relative;
  }
  .footer .container .footerBottom p {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .footer .container .footerBottom ul {
    flex-direction: column;
  }
  .footer .container .footerBottom ul li:not(:first-of-type) {
    border-left: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 8px;
  }
}/*# sourceMappingURL=styleFooter.css.map */