@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.header {
  background-image: url(../img/BackgroundHeader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 124px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.header .container img.second1:nth-of-type(1) {
  position: absolute;
  top: 140px;
  right: -225px;
}
.header .container img.second2:nth-of-type(2) {
  position: absolute;
  top: 160px;
  right: -30px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.logo img {
  width: 236px;
  height: 114px;
}

.headerContactsMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 684px;
}

.headerContacts {
  display: flex;
  justify-content: space-between;
}

.headerContacts1 {
  display: flex;
}
.headerContacts1 div {
  display: flex;
}
.headerContacts1 div img {
  width: 32px;
  height: 32px;
}
.headerContacts1 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 8px;
}
.headerContacts1 div img:not(:first-of-type) {
  margin-left: 12px;
}

.headerContacts2 img:not(:last-of-type) {
  margin-right: 20px;
}

/* Скрываем чекбокс */
#toggle {
  display: none;
}

ul.headerMenu {
  margin-top: 24px;
  display: flex;
  list-style-type: none;
}
ul.headerMenu li {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  position: relative;
  cursor: pointer;
}
ul.headerMenu > li:not(:first-of-type) {
  border-left: solid 3px rgb(231, 116, 46);
  padding-left: 10px;
}
ul.headerMenu li:hover {
  color: rgb(231, 116, 46);
}
ul.headerMenu li:hover ul.headerMenuLevel2 {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 1;
}
ul.headerMenu li:not(:last-of-type) {
  padding-right: 10px;
}

.headerMenuLevel2 {
  width: 274px;
  display: none;
}
.headerMenuLevel2 > li {
  background-color: rgba(11, 20, 39, 0.8);
  border-bottom: solid 1px rgb(231, 116, 46);
  cursor: pointer;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.headerMenuLevel2 > li:hover {
  color: rgb(231, 116, 46);
}
.headerMenuLevel2 > li:first-of-type {
  border-top: solid 1px rgb(231, 116, 46);
}

.headerContent {
  margin-top: 90px;
}
.headerContent h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: rgb(231, 116, 46);
  width: 620px;
}
.headerContent h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  width: 600px;
  margin-top: 30px;
}
.headerContent h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: rgb(231, 116, 46);
  width: 600px;
  margin-top: 12px;
}
.headerContent button {
  margin-top: 44px;
  width: 321px;
  height: 65px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.service {
  margin-top: 40px;
}
.service .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 40px;
}
.service .container > div {
  width: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.service .container > div div {
  display: flex;
  justify-content: space-between;
}
.service .container > div div img {
  width: 165px;
  height: 95px;
}
.service .container > div div div {
  width: 84px;
  border-bottom: solid 1px rgb(11, 20, 39);
}
.service .container > div h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 29px;
  text-align: center;
  margin-top: 28px;
  height: 70px;
}
.service .container > div ul {
  margin-top: 16px;
  list-style-image: url(../img/Vector.png);
}
.service .container > div ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.service .container > div ul li:last-of-type {
  list-style-image: none;
  list-style-type: none;
}
.service .container > div button {
  margin-top: 28px;
  width: 304px;
  height: 52px;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.doWhat {
  background-color: rgb(11, 20, 39);
}
.doWhat .container {
  position: relative;
}
.doWhat .container img {
  position: absolute;
  left: -145px;
  top: 145px;
}
.doWhat .container h2 {
  padding-top: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: rgb(231, 116, 46);
  text-align: center;
}
.doWhat .container hr {
  margin-top: 19px;
  height: 3px;
  color: white;
}
.doWhat .container > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.doWhat .container > div:first-of-type .verticalLine {
  height: 42px;
  border-left: solid 3px white;
}
.doWhat .container > div:first-of-type .doWhat1 {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 255px;
}
.doWhat .container > div:first-of-type .doWhat1 .doWhat11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: solid 3px white;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: rgb(231, 116, 46);
}
.doWhat .container > div:first-of-type .doWhat1 .doWhat12 {
  width: 500px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: white;
  align-self: center;
  margin-left: 10px;
}
.doWhat .container > div:first-of-type .doWhat1:nth-child(2) div.doWhat11 {
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: white;
}
.doWhat .container > div:nth-of-type(2) {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}
.doWhat .container > div:nth-of-type(2) div {
  width: 421px;
  height: 3px;
  background-color: white;
}
.doWhat .container > div:nth-of-type(2) p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: rgb(231, 116, 46);
}

@media all and (max-width: 420px) {
  .container {
    width: 358px;
  }
  .container > img {
    display: none;
  }
  .container .headerTop {
    margin-top: 26px;
    flex-direction: column;
    position: relative;
  }
  .container .headerTop .headerContactsMenu {
    /* Стили для картинки */
    /* Меняем картинку при активном чекбоксе */
    /* Скрываем выпадающий список по умолчанию */
    /* Показываем выпадающий список при активном чекбоксе */
  }
  .container .headerTop .headerContactsMenu .headerContacts {
    flex-direction: column;
    position: relative;
  }
  .container .headerTop .headerContactsMenu .headerContacts .headerContacts1 {
    flex-direction: column;
  }
  .container .headerTop .headerContactsMenu .headerContacts .headerContacts1 div {
    display: flex;
    justify-content: flex-start;
  }
  .container .headerTop .headerContactsMenu .headerContacts .headerContacts2 {
    position: absolute;
    top: 105px;
    right: 48%;
  }
  .container .headerTop .headerContactsMenu .label-img {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0%;
    width: 36px;
    height: 32px;
    background-image: url(../img/open.png);
    background-size: cover;
  }
  .container .headerTop .headerContactsMenu #toggle:checked + .label-img {
    background-image: url(../img/close.png);
  }
  .container .headerTop .headerContactsMenu ul.headerMenu {
    display: none;
    position: relative;
    top: 70px;
    width: 358px;
  }
  .container .headerTop .headerContactsMenu ul.headerMenu > li {
    height: 55px;
    border-left: none;
    padding-left: 0px;
    border-top: solid 1px rgb(231, 116, 46);
    align-items: center;
    display: flex;
  }
  .container .headerTop .headerContactsMenu ul.headerMenu li.liServise:hover:after {
    content: url(../img/close3.png);
    width: 16px;
    height: 23px;
    margin-left: 10px;
  }
  .container .headerTop .headerContactsMenu ul.headerMenu li:hover ul.headerMenuLevel2 {
    display: block;
  }
  .container .headerTop .headerContactsMenu ul.headerMenu li:last-of-type {
    border-bottom: solid 1px rgb(231, 116, 46);
  }
  .container .headerTop .headerContactsMenu #toggle:checked ~ .headerMenu {
    display: block;
  }
  .container .headerTop .headerContactsMenu .headerMenuLevel2 {
    width: 288px;
    margin-left: 75px;
    margin-top: -15px;
    border-left: solid 1px rgb(231, 116, 46);
    border-right: solid 1px rgb(231, 116, 46);
  }
  .container .headerTop .headerContactsMenu .headerMenuLevel2 li {
    background-color: rgb(11, 20, 39);
    height: 55px;
    text-transform: none;
    padding-left: 10px;
  }
  .container .logo {
    position: absolute;
    top: 70px;
  }
  .container .logo img {
    width: 144px;
    height: 69px;
  }
  .headerContent {
    display: flex;
    flex-direction: column;
  }
  .headerContent h1 {
    font-size: 34px;
    width: 358px;
  }
  .headerContent h2,
  .headerContent h3 {
    font-size: 20px;
    width: 358px;
  }
  .headerContent button {
    align-self: center;
  }
  .service {
    padding-bottom: 48px;
  }
  .service .container {
    grid-template-columns: 1fr;
  }
  .doWhat .container img {
    display: none;
  }
  .doWhat .container h2 {
    font: 34px;
  }
  .doWhat .container > div:first-of-type .verticalLine {
    display: none;
  }
  .doWhat .container > div:first-of-type .doWhat1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 0px;
    margin-top: 40px;
  }
  .doWhat .container > div:first-of-type .doWhat1 .doWhat12 {
    font-size: 20px;
    width: 358px;
    margin-top: 20px;
  }
  .doWhat .container > div:nth-of-type(2) div {
    width: 74px;
  }
}/*# sourceMappingURL=style.css.map */