.listService {
  padding-top: 16px;
  padding-bottom: 16px;
}
.listService .container ul {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgb(11, 20, 39);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.listService .container ul li:nth-of-type(1) {
  color: rgb(231, 116, 46);
}

@media all and (max-width: 420px) {
  .listService {
    display: none;
  }
}
.titleService {
  background-image: url(../img/ServiceTitle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 72px;
}
.titleService .container div {
  display: flex;
  align-items: center;
}
.titleService .container div img {
  width: 160px;
  height: 95px;
}
.titleService .container div h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: white;
  margin-left: 40px;
}

@media all and (max-width: 420px) {
  .titleService .container {
    width: 358px;
  }
  .titleService .container div {
    flex-direction: column;
  }
  .titleService .container div h1 {
    font-size: 34px;
    text-align: center;
    margin-top: 24px;
    margin-left: 0px;
  }
}
.infoService {
  padding-top: 40px;
  padding-bottom: 40px;
}
.infoService .container {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
}
.infoService .container img {
  float: right;
  margin-left: 40px;
}
.infoService .container h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 29px;
  color: rgb(231, 116, 46);
  margin-top: 20px;
}

@media all and (max-width: 420px) {
  .infoService .container {
    width: 358px;
  }
  .infoService .container img {
    display: none;
  }
}
.callService {
  background-image: url(../img/serviceBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 52px;
}
.callService .container {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 29px;
  color: white;
}
.callService .container > div {
  width: 620px;
  display: flex;
  flex-direction: column;
}
.callService .container > div h2 {
  font-size: 24px;
}
.callService .container > div > div:first-of-type {
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
  margin-top: 32px;
}
.callService .container > div div:nth-of-type(n+2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}
.callService .container > div div:nth-of-type(n+2) p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 96px;
  color: rgb(231, 116, 46);
  width: 68px;
}
.callService .container > div div:nth-of-type(n+2) p:not(:first-child) {
  font-weight: 500;
  font-size: 18px;
  color: white;
  width: 528px;
  margin-left: 24px;
}
.callService .container > div div:nth-of-type(n+3) {
  margin-bottom: 32px;
}
.callService .container form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 344px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(231, 116, 46);
}
.callService .container form > p:not(:first-of-type) {
  margin-top: 20px;
}
.callService .container form div {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}
.callService .container form div .agree {
  width: 26px;
  height: 26px;
  margin-top: 0px;
}
.callService .container form div p {
  margin-left: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.callService .container form div p span {
  font-weight: bold;
}
.callService .container select,
.callService .container input,
.callService .container textarea {
  margin-top: 12px;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(180, 180, 180);
}
.callService .container textarea {
  padding-top: 10px;
  height: 204px;
}
.callService .container button {
  align-self: center;
  margin-top: 44px;
  width: 321px;
  height: 65px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

@media all and (max-width: 420px) {
  .callService .container {
    width: 358px;
    flex-direction: column;
  }
  .callService .container > div {
    width: 100%;
  }
  .callService .container > div div:nth-of-type(n+2) p {
    width: 52px;
    font-size: 72px;
  }
  .callService .container > div div:nth-of-type(n+2) p:not(:first-child) {
    width: 290px;
  }
}
.priceServise {
  padding-top: 40px;
  padding-bottom: 40px;
}
.priceServise .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceServise .container h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: rgb(11, 20, 39);
}
.priceServise .container div {
  width: 528px;
  height: 3px;
  background-color: rgb(231, 116, 46);
  margin-top: 14px;
  margin-bottom: 24px;
}
.priceServise .container p,
.priceServise .container ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
}
.priceServise .container h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(11, 20, 39);
  align-self: self-start;
  margin-left: 18px;
  margin-top: 40px;
}
.priceServise .container ul {
  margin-top: 8px;
}
.priceServise .container ul li {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  height: 43px;
  margin-top: 8px;
  padding-left: 36px;
}
.priceServise .container ul li p:nth-of-type(1) {
  width: 676px;
}
.priceServise .container ul li p:nth-of-type(2) {
  width: 246px;
  text-align: center;
}
.priceServise .container button {
  align-self: center;
  margin-top: 44px;
  width: 321px;
  height: 65px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.priceServise .container button img {
  position: absolute;
  top: 20px;
  right: 15px;
}

@media all and (max-width: 420px) {
  .priceServise .container {
    width: 358px;
  }
  .priceServise .container h2 {
    text-align: center;
    font-size: 34px;
  }
  .priceServise .container div {
    width: 100%;
  }
  .priceServise .container h3 {
    margin-left: 0px;
  }
  .priceServise .container ul li {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: auto;
    padding-left: 0px;
    margin-top: 13px;
  }
  .priceServise .container ul li p:nth-of-type(1) {
    width: 358px;
  }
  .priceServise .container ul li p:nth-of-type(2) {
    width: 358px;
    text-align: start;
  }
}
.defectService1 {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: rgb(11, 20, 39);
}
.defectService1 .container div:nth-of-type(1),
.defectService1 .container div:nth-of-type(3) {
  width: 100%;
  height: 3px;
  background-color: rgb(231, 116, 46);
}
.defectService1 .container div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}
.defectService1 .container div:nth-of-type(2) img {
  width: 102px;
  height: 96px;
}
.defectService1 .container div:nth-of-type(2) p {
  width: 944px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 34px;
}

.defectService2 {
  padding-top: 40px;
  padding-bottom: 60px;
}
.defectService2 .container > div {
  display: flex;
  flex-direction: column;
}
.defectService2 .container > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.defectService2 .container > div > div h5 {
  width: 528px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 29px;
  color: rgb(231, 116, 46);
}
.defectService2 .container > div > div div {
  width: 528px;
  display: flex;
}
.defectService2 .container > div > div div p {
  width: 344px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(11, 20, 39);
}
.defectService2 .container > div > div div img {
  width: 36px;
  height: 28px;
  margin-left: 26px;
}
.defectService2 .container > div > div ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(11, 20, 39);
  list-style-image: url(../img/tick2.png);
  width: 528px;
  padding-left: 30px;
}
.defectService2 .container > div button {
  align-self: center;
  margin-top: 44px;
  width: 379px;
  height: 52px;
  border-radius: 10px;
  background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.defectService2 .container > div button img {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media all and (max-width: 420px) {
  .defectService1 .container {
    width: 358px;
  }
  .defectService1 .container div:nth-of-type(2) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .defectService1 .container div:nth-of-type(2) img {
    width: 102px;
    height: 96px;
  }
  .defectService1 .container div:nth-of-type(2) p {
    width: 100%;
    margin-left: 0px;
  }
  .defectService2 {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  .defectService2 .container {
    width: 358px;
  }
  .defectService2 .container > div {
    display: flex;
    flex-direction: column;
  }
  .defectService2 .container > div > div {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-direction: column;
  }
  .defectService2 .container > div > div h5 {
    display: none;
  }
  .defectService2 .container > div > div div {
    width: 100%;
    display: flex;
  }
  .defectService2 .container > div > div div img {
    display: none;
  }
  .defectService2 .container > div > div ul {
    width: 100%;
  }
  .defectService2 .container > div button {
    align-self: center;
    margin-top: 44px;
    width: 379px;
    height: 52px;
    border-radius: 10px;
    background-image: radial-gradient(rgb(246, 167, 12), rgb(231, 116, 46));
    color: black;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    position: relative;
  }
  .defectService2 .container > div button img {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}/*# sourceMappingURL=styleService.css.map */