* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1080px;
}

// __________________________________HEADER_________________________________
.header {
    background-image: url(../img/BackgroundHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 124px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;


        img.second1:nth-of-type(1) {
            position: absolute;
            top: 140px;
            right: -225px;
        }

        img.second2:nth-of-type(2) {
            position: absolute;
            top: 160px;
            right: -30px;
        }
    }
}

.headerTop {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.logo {
    img {
        width: 236px;
        height: 114px;
    }
}

.headerContactsMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 684px;
}

.headerContacts {
    display: flex;
    justify-content: space-between;
}

.headerContacts1 {
    display: flex;

    div {
        display: flex;

        img {
            width: 32px;
            height: 32px;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: white;
            margin-left: 8px;
        }

        img:not(:first-of-type) {
            margin-left: 12px;
        }
    }
}

.headerContacts2 {
    img:not(:last-of-type) {
        margin-right: 20px;
    }
}

/* Скрываем чекбокс */
#toggle {
    display: none;
}

.headerMenu {
    margin-top: 24px;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }

    li {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: white;
        position: relative;
        cursor: pointer
    }

    li:not(:first-of-type) {
        border-left: solid 3px rgba(231, 116, 46, 1);
        padding-left: 10px;
    }

    li:hover {
        color: rgba(231, 116, 46, 1);

        div.headerMenuLevel2 {
            display: block;
            position: absolute;
            top: 100%;
            z-index: 1;
        }
    }

    li:not(:last-of-type) {
        padding-right: 10px;
    }
}

.headerMenuLevel2 {
    width: 274px;
    display: none;

    div {
        background-color: rgba(11, 20, 39, 0.8);
        border-bottom: solid 1px rgba(231, 116, 46, 1);
        cursor: pointer;
        height: 43px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: white;
        padding-left: 24px;
        display: flex;
        align-items: center;

        &:hover {
            color: rgba(231, 116, 46, 1);
        }

    }

    div:first-of-type {
        border-top: solid 1px rgba(231, 116, 46, 1);
    }
}

.headerContent {
    margin-top: 90px;

    h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 60px;
        color: rgba(231, 116, 46, 1);
        width: 620px;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: white;
        width: 600px;
        margin-top: 30px;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: rgba(231, 116, 46, 1);
        width: 600px;
        margin-top: 12px;
    }

    button {
        margin-top: 44px;
        width: 321px;
        height: 65px;
        border-radius: 10px;
        background-image: radial-gradient(rgba(246, 167, 12, 1), rgba(231, 116, 46, 1));
        color: black;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
}



.service {
    margin-top: 40px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 40px;

        &>div {
            width: 344px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                justify-content: space-between;

                img {
                    width: 165px;
                    height: 95px;
                }

                div {
                    width: 84px;
                    border-bottom: solid 1px rgba(11, 20, 39, 1);
                }
            }

            h2 {
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 29px;
                text-align: center;
                margin-top: 28px;
                height: 70px;
            }

            ul {
                margin-top: 16px;
                list-style-image: url(../img/Vector.png);

                li {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                }

                li:last-of-type {
                    list-style-image: none;
                    list-style-type: none;
                }
            }

            button {
                margin-top: 28px;
                width: 304px;
                height: 52px;
                border-radius: 10px;
                background-color: rgba(222, 222, 222, 1);
                color: black;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 18px;
            }

        }

    }
}


// _______________________________НАЧАЛО АДАПТИВ____________________________________
@media all and (max-width: 420px) {

    .container {
        width: 358px;

        >img {
            display: none;
        }

        .headerTop {
            margin-top: 26px;
            flex-direction: column;
            position: relative;

            .headerContactsMenu {

                .headerContacts {
                    flex-direction: column;
                    position: relative;

                    .headerContacts1 {
                        flex-direction: column;

                        div {
                            display: flex;
                            justify-content: flex-start;
                        }
                    }

                    .headerContacts2 {
                        position: absolute;
                        top: 105px;
                        right: 48%;
                    }
                }

                /* Стили для картинки */
                .label-img {
                    cursor: pointer;
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    right: 0%;
                    width: 36px;
                    height: 32px;
                    background-image: url(../img/open.png);
                    background-size: cover;
                }

                /* Меняем картинку при активном чекбоксе */
                #toggle:checked+.label-img {
                    background-image: url(../img/close.png);
                }

                /* Скрываем выпадающий список по умолчанию */
                .headerMenu {
                    display: none;

                    ul {
                        position: relative;
                        top: 70px;
                        flex-direction: column;
                        width: 358px;

                        li {
                            height: 55px;
                            border-left: none;
                            padding-left: 0px;
                            border-top: solid 1px rgba(231, 116, 46, 1);
                            align-items: center;
                            display: flex;
                        }

                        // .liServise {
                        //     position: relative;
                        // }

                        li.liServise:hover:after {
                            content: url(../img/close3.png);
                            width: 16px;
                            height: 23px;
                            margin-left: 10px
                            
                        }

                        li:hover {
                            div.headerMenuLevel2 {
                                display: block;
                            }
                        }

                        li:last-of-type {
                            border-bottom: solid 1px rgba(231, 116, 46, 1);
                        }
                    }
                }

                /* Показываем выпадающий список при активном чекбоксе */
                #toggle:checked~.headerMenu {
                    display: block;
                }

                .headerMenuLevel2 {
                    width: 358px;

                    div {
                        background-color: rgba(11, 20, 39, 1);
                        height: 55px;
                        text-transform: none;
                        // border-left: solid 1px rgba(231, 116, 46, 1);
                    }
                }

            }
        }

        .logo {
            position: absolute;
            top: 70px;

            img {
                width: 144px;
                height: 69px;
            }

        }
    }

    .headerContent {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 34px;
            width: 358px;
        }

        h2,
        h3 {
            font-size: 20px;
            width: 358px;
        }

        button {
            align-self: center;
        }
    }

    .service {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(1fr);


        }
    }
}