.notFound {
    .container {
        div {
            background-image: url(../img/notFound.gif);
            background-repeat: no-repeat;
            background-position: 0% 0%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: rgba(11, 20, 39, 1);
                padding-top: 673px;
            }

            h2 {
                display: none;
            }

            h3 {
                display: none;
            }

            button {
                margin-top: 24px;
                width: 321px;
                height: 65px;
                border-radius: 10px;
                background-image: radial-gradient(rgba(246, 167, 12, 1), rgba(231, 116, 46, 1));
                color: black;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 44px;
            }
        }
    }
}

// _______________________________НАЧАЛО АДАПТИВ____________________________________
@media all and (max-width: 420px) {
    .notFound {
        .container {
            width: 358px;

            div {
                background-image: url(../img/notFoundMobil.gif);
                background-size: contain;

                p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgba(11, 20, 39, 1);
                    padding-top: 0px;
                }

                h2 {
                    display: none;
                }

                h3 {
                    display: block;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    font-size: 36px;
                    color: rgba(231, 116, 46, 1);
                    padding-top: 389px;
                }
            }
        }
    }
}