*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container
{
    margin: 0 auto; 
    width: 1440px;
}

.clearfix::after
{
    display: block;
    content: '';
    clear: both;
}

.header
{
    background: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;   
}

.header_top
{
    float: left;
    height: 96px;
    /* border-bottom: solid white 2px; */
}

.logo
{
    height: 40;
    float: left;
    margin: 28px 0px 28px 0px;
}

.menu
{
    margin-left: 260px;
    margin-right: 200px;
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: 'Cuprum', sans-serif; color: white;
}

.zakladki
{
    padding: 12px 24px; 
    float: left; 
    margin-left: 8px;
}

.contacts
{
    float: right;
}

.header_bottom
{
    float: left;
    height: 928px;
    padding-top: 204px;
}

.header_bottom_left
{
    float: left;
}

.header_bottom_right
{
    float: right;
}

hr
{
    color: white;
    height: 2px;
    clear: both;
}

.tip_1
{
    /* height: 903px; */
    background-color: #242424;
    background-image: url(../img/tip_1_1.png), url(../img/tip_1_2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 0%;
}

.tip_1_1
{
    /* height: 200px; */
}

.tip_1_2
{
    text-align: center;
    border-bottom: solid;
    border-color: blue;
    border-width: 2px;
}

.tip_2_2
{
    text-align: center;
}

.podbor1
{
    padding: 64px 0px 64px 0px;
    background-color: #242424;
    background-image: url(../img/AbstractDesign.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.p_style1
{
    font-family: 'Montserrat', sans-serif; color: white;
}

.podbor11
{
    float: left;
    margin-top: 16px;
}

.podbor12
{   
    float: right;
    margin-top: 16px;
    width: 682px;
}

.buttonHouse
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    background-color: #3e3e3e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-top: 16px;
}

.buttonHouseSecond
{
    margin-left: 16px;
}

.vissualHouse
{
    width: 726px;
    height: 381px;
    margin-top: 98px;
}

.SBig
{
    display: none;
}

.SBig:target
{
    display: block !important;
}

.buttonHouse:hover
{
    background-color: #F8B806;
}

.oParke1
{
    background-color: #242424;

}

.oParke11
{
    width: 726px;
    padding-top: 42.5px;
    float: left;
}

.oParke12
{
    background-image: url(../img/fonOParke12.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    padding-top: 42.5px;
    float: right;
}

.preimushestva1
{
    background-color: #242424;
    background-image: url(../img/preimushestva11.png), url(../img/preimushestva12.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 0%;
}

.preimushestva11
{
    margin-top: 32px;
}

.preimushestva11n
{
    width: 345px;
    height: 220px;
    text-align: center;
    float: left;
}

.p_style2
{
    font-size: 20px; 
    font-weight: 600;
}

.varianti1
{
    background-color: #242424;
    background-image: url(../img/preimushestva11.png), url(../img/preimushestva12.svg), url(../img/fonvar1.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0% 0%, 100% 0%, 100% 100%;
}

.varianti11
{
    float: left;
    text-align: center;
}

.varianti112
{
    margin-top: 567px;

}

.vissualVar
{
    float: left;
    width: 726px;
    height: 503px;
    margin-top: 32px;
}

.imgvar1
{
    width: 726px;
    height: 503px;
}

.imgvar2
{
    width: 175.5px;
    height: 141px;
    float: left;
}

.imgvar22
{
    margin-left: 8px;
}

.varianti12{
    float: right;
    width: 682px;
    margin-top: 32px; 
    text-align: left;
}

.ghizn1
{
    background-color: #242424;
    background-image: url(../img/fonghizn1.svg), url(../img/fonghizn2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 0%;
}

.ghizn111{
    height: 357px;
}

.ghizn111
{
    float: left;
    width: 726px;
}

.p_style3
{
    font-size: 217px;
    font-weight: 700;
    color: white;
    font-family: 'Tektur', sans-serif;
}

.ghizn112
{
    float: right;
    width: 682px;
}

.ghizn12
{
    margin-top: 32px;
    
}

.ghizn12Header
{
    background-color: #797979;
    height: 60px;
}

.zakladki2
{
    float: left;
    width: 20%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 19px 24px 19px 24px;
}

.sobk1
{
   background-color: #242424; 
   padding-top: 80px;
}

.sobk11
{
    float: left;
    width: 726px;
    margin-top: 67px;
}

.sobk12
{
    width: 922px;
    float: right;
    margin-right: -240px;
    margin-top: 66px;
}

.zayavki1
{
    background-color: #3F3D42;
    background-image: url(../img/fonZayavki1.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.styleForm
{
    width: 470px; 
    height: 72px; 
    background-color: #333335;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #858585;
    padding: 25px 24px;
}

.reki1
{
    background-color: #242424; 
}

.reki11
{
    float: left;
    margin-top: 64px;
    margin-bottom: 64px;
}

.reki12
{
    float: right;
    margin-top: 152px;
}